<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PlayerConfig" type="Clocktower.Agent.Config.PlayerConfigSection, Clocktower" />
  </configSections>

  <PlayerConfig>
    <!-- Supported types are Robot; Human; Auto (for a human that will auto-act). -->
    <!-- Supported models for Robots are: gpt-3.5-turbo (default), gpt-4-turbo, gpt-4o and any others from Open AI. -->
    <!-- An additional attribute for Robots is personality. -->
    <!-- Additional attributes for any players are: alignment (Good/Evil) and character (e.g. Monk, Imp). -->
    <add name="Alison" type="Human" />
    <add name="Bernard" type="Human" />
    <add name="Christie" type="Human" />
    <add name="David" type="Robot" model="gpt-3.5-turbo" alignment="Good" personality="Outside the game you are a computer programmer, and you bring your analytical mind to the game. If you get a character that gets information each night, you prefer to stay alive to learn as much information as possible. Otherwise you're happy to die early and and enjoy just working on putting everyone's information together to figure out what's happening." />
    <!--<add name="Donald" type="Human" />-->
    <add name="Eleanor" type="Human" />
    <add name="Franklin" type="Human" />
    <add name="Georgina" type="Human" />
    <add name="Harry" type="Human" />
    <add name="Ingrid" type="Human" />
    <add name="Julian" type="Human" />
    <add name="Katie" type="Human" />
    <add name="Leonard" type="Human" />
    <add name="Maddie" type="Human" />
    <add name="Norm" type="Human" />
    <add name="Olivia" type="Human" />
  </PlayerConfig>
</configuration>