<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PlayerConfig" type="Clocktower.Agent.Config.PlayerConfigSection, Clocktower" />
  </configSections>

  <PlayerConfig>
    <!-- Supported types are Robot; Human; Auto (for a human that will auto-act) -->
    <add name="Alison" type="Human" />
    <add name="Bernard" type="Human" />
    <add name="Christie" type="Human" />
    <add name="David" type="Robot" />
    <add name="Eleanor" type="Human" />
    <add name="Franklin" type="Human" />
    <add name="Georgina" type="Human" />
    <add name="Harry" type="Human" />
    <add name="Ingrid" type="Human" />
    <add name="Julian" type="Human" />
    <add name="Katie" type="Human" />
    <add name="Leonard" type="Human" />
    <add name="Maddie" type="Human" />
    <add name="Norm" type="Human" />
    <add name="Olivia" type="Human" />
  </PlayerConfig>
</configuration>