<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ModelConfig" type="ChatApplication.Config.ModelConfigSection, ChatApplication" />
  </configSections>

  <ModelConfig>
    <add description="GPT-4o-mini" name="gpt-4o-mini" />
    <add description="GPT-4o" name="gpt-4o" />
    <add description="GPT-4o (6 Aug 2024)" name="gpt-4o-2024-08-06" />
    <add description="GPT-4 Turbo" name="gpt-4-turbo" />
    <add description="GPT-3.5 Turbo" name="gpt-3.5-turbo" />
  </ModelConfig>
</configuration>